/* Text Center */

.text-center {
    text-align: center;
}
.heading-small {
    font-size: 1.25rem;
}
.heading-medium {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}
.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.bg-dark-blue {
    background-color: #062e51;

}
.bg-light-blue {
    color: #336ea2;
}
/* Buttons */

.btn {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-primary {
    background: #336ea2;
}
.btn-primary:hover {
    background: white;
    color: #336ea2;
    border: 1px solid #336ea2;
    box-shadow: 1px 1px 8px 2px black;
}



/* Container */
.container {
    max-width: 1100px;
    margin: 0 auto;
}